
  .ammu{
    margin-top: 5px;
    float:left;
    margin:7px;
    width:30%;
    height:30%;
    border-radius: 10px;
    background-color: blue;
    padding: 5px;
}
#ammu{
  width:10%;
  height:10%;
}
#siva{
  width:10%;
  height:10%;
}
#akka{
  width:10%;
  height:10%;
}
#pragathi{
  width:10%;
  height:10%;
}
#sree{
  width:10%;
  height:10%;
}
#jay{
  width:10%;
  height:10%;
}